<!-- PAGE CONTENT -->
<div class="container">
  <!--  MAIN CONTENT  -->
    <div class="col-md-8 col-md-offset-2">
      <div class="admin-new-book-title">
        <div class="col-md-6" style="padding-left: 0px;"> Admin / Add New Book</div>
      </div>

      <div class="admin-new-book-content">
        <form class="admin-new-book-form">

          <div class="form-group">
            <label for="exampleInputBookTitle">Title</label>
            <input type="text" class="form-control" id="exampleInputBookTitle" placeholder="Enter Book's Title">
          </div>

          <div class="form-group">
            <label for="exampleBookPrice">Price</label>
            <input type="number" class="form-control" id="exampleBookPrice" placeholder="Price">
          </div>

          <div class="form-group">
            <label for="exampleBookISBN">ISBN</label>
            <input type="number" class="form-control" id="exampleBookISBN" placeholder="ISBN">
          </div>

          <div class="form-group">
            <label for="exampleBookPublishedDate">Published Date</label>
            <input type="date" class="form-control" id="exampleBookPublishedDate" placeholder="Published Date">
          </div>

          <div class="form-group">
            <label for="exampleBookAuthor">Author</label>
            <select class="form-control">
              <option>Author 1</option>
              <option>Author 2</option>
              <option>Author 3</option>
              <option>Author 4</option>
              <option>Author 5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleBookAbout">About</label>
            <input type="textarea" class="form-control" id="exampleBookAbout" placeholder="Price">
          </div>

          <br />
          <button type="submit" class="btn btn-success" style="float: right; padding-left: 30px; padding-right: 30px; margin-bottom: 15px;">Submit</button>
          <br />
          <br />
        </form>
      </div>
    </div>
  <!--  END MAIN CONTENT  -->
</div>
<!-- END PAGE CONTENT -->