.admin-new-book-title{
  margin-top: 100px;
  background-color: #009587;
  padding: 20px 20px 40px 30px;
  font-size: 18px;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.admin-new-book-content{
  border: solid 1px #009587;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
}

.admin-new-book-form{
  padding: 30px 50px;
}